@import url('variables.css');
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

.navbar {
    background-color: var(--primary-color);
}
.nav-link{
    color: white;
}

.main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100vw;
    background-color: var(--primary-color);
    margin: 0;
    padding: 10% 0 3% 0;
    font-family: 'Roboto', sans-serif;
}

.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 40px;
    z-index: 1;
}

.title-details{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--tertiary-color);
    font-size: 20px;
}

.btn-green{
    background-color: var(--secondary-color);
    padding: 3% 13%;
    border-radius: 25px;
    margin-top: 10%;
    font-weight: 700;
    color: var(--tertiary-color);
}
.main-container-batery{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 10%;
/* hay que quitar el top en la vista de Desktop */
   
}


.btn-container{

    background-image: url("../assets/images/drum.png");
    background-size: cover;
    background-position: center;
    width: 395px;
    padding-bottom: 60px;
}

.btn-contain1{
    display: flex;
    justify-content: space-between;

}

 #btn1{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: orange;
}

#btn2{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: orange;
   
} 

#btn3{
    position: relative;
    width: 80px;
    height: 76px;
    border-radius: 50%;
    bottom: 27px;
    right: 9px;
    background-color: pink;
}

#btn4{
    position: relative;
    width: 80px;
    height: 76px;
    border-radius: 50%;
    bottom: 27px;
    left: 10px;
    background-color: pink;
}

.btn-contain3{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}

#btn5{
    margin-top: 16px;
    margin-left: 31px;
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
}
#btn6{
    margin-right: 35px;
    margin-top: 7px;
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
}

.btn-contain4{
    width: 100%;
    display: flex;
    justify-content: space-around;
   
}

#btn7{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: yellow;
    position: relative;
}

#btn8{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: yellow;
    position: relative;
}


/* <--!estilos footer --> */
footer {
  background-color: var(--primary-color);
  color: #fff;
}

 #footer-main-button {
  background-color: var(--secondary-color);
  color: #000;
  border-radius: 1rem;
  margin-bottom: 10px;
} 
  
