<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
            <header class="header-triangle">
          <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container-fluid"> <a class="navbar-brand" href=""></a>
              <a class="navbar-brand" href="#">
                <a href="../index.html"><img src="../assets/images/logo.png" width="150" height="40" alt=""></a>
              </a>
              
            </div>
            
          </nav>
        
        </header>
        <main>
          <section class="main-container">
            
                  <section class="main-container-text">
                      <h1 class="main-title"> Music only for you</h1>
                      <p class="title-details">Millions of songs to enjoy</p>
                      <button class="btn-green">Hit the</button>
                  </section>     
            
            <section class="main-container-triangle">

              <div class="btn-container-tri">

                 <div class="btn-container1-tri">
                      <button id="btn8tri" data-key="t"> T</button>
                          <audio src="../assets/sounds/sound 1 triangle.mp3" id="campana1"></audio>
                      <button id="btn9tri" data-key="o"> O</button>
                          <audio src="../assets/sounds/sound 2 triangle.mp3" id="campana2"></audio>
                  </div>

                  <div class="btn-container2-tri">
                      <button id="btn10tri" data-key="n"> N</button>
                          <audio src="../assets/sounds/sound 3 triangle.mp3" id="campana3"></audio>
                  </div>
                  
              </div>
           
           
        </section>
      </main>
      <footer>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <p>Try Premium free for 1 month</p>
          <p>Play millions of songs ad-free, on demand, and offline</p>
         
          <button type="button" id="footer-main-button" class="btn">See pricing</button>
          
          <p>© 2022 Company, Inc. All rights reserved.</p>
        </div>
      </footer>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="triangle.js"></script>
</body>
</html>